<h3 text-align: style='text-align: center;font-weight: bold;'> Update Password</h3>

<br>
<i *ngIf="flag" style="color:red">Please Re-Enter correct password.</i>
Old Password:<input class="form-control" type="password" #oldpass>
New Password:<input class="form-control" type="password" #newpass>
Re-Enter New Password:<input class="form-control" type="password" #renewpass>
<br>
<button mat-button matDialogClose="close" class="btn btn-primary" (click)="onCloseClick()" style='float: right;margin: 5px'>Cancel</button>
<button mat-button matDialogClose="close" class="btn btn-primary" (click)="updateUserPassword(oldpass.value,newpass.value,renewpass.value)"
  style='float: right;margin: 5px'>Confirm Update</button>