<h2>GA SourceMedium Mapping</h2>          
            <div class="row" >
              <div class="col-12 my-3">
                <div class="custom-control custom-radio custom-control-inline  ">
                  <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" checked="" >
                  <label class="custom-control-label" for="customRadioInline1">Get list of SourceMediums without channel_group, channel mapping</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input" (click)="updateNetwork()">
                  <label class="custom-control-label" for="customRadioInline2">Update SourceMedium channel mapping
                  </label>
                </div>
              </div>  
            </div>

            <div class="row desc">
            
                                     
              <div class="col-3">                
                <div class="form-group">
                  <label for="Enter search string">Enter search string</label>
                  <input type="text" class="form-control" id="searchText" (keyup.enter)="getMissingSourceMediumBysearchString()" placeholder="" #searchText>
                  <h6 *ngIf="missingRecordCountFlag==true" style="color: red;margin: 10px">No records found</h6>
                </div>
              </div>

              <div *ngIf="missingRecordCountFlag==false" class="col-3">                
                <button mat-button  class="btn btn-primary" (click)="addChannel()" style='margin: 2px; margin-top: 30px; float: right'>Map Channel</button>
              </div>
              
          </div>

            
            <div style="width: 700px">

              <i *ngIf="false" style="color: red"> No missing record found</i>
               
              <div *ngIf="true" class="row" style="margin-left:10px">
                   
                    <!--div class="col-12 my-3">                        
                      <button mat-button  class="btn btn-primary" (click)="addChannel()" style='margin: 2px; margin-top: 10px; float: right'>Map Channel</button>
                    </div-->
                       
                       <div>
                              <table datatable id="table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class=" table-striped table-bordered text-left " style='table-layout:fixed;width: 100%'>
                              <thead >
                            <tr>

                              <th >Select</th>
                              <th >SourceMedium</th>
                              
                            </tr>
                          </thead>
                          <tbody >
                            <tr *ngFor="let networkName of networkNames; let i= index;">
                              <!--td>{{networkNames}}</td-->
                                                          
                              <td><input name="select_one"  id="example" (change)='selectChannel(i)'  type="checkbox" style="margin-left: 55px;"></td>
                              <td>{{networkName}}</td>
                              
                              <!--td>{{ networkNames}</td-->
                            </tr>
                            <tr *ngIf=false>
                              <td colspan="2" class="no-data-available">No matching record found</td>
                            </tr>
                          </tbody>
                        </table>
                       </div>

                       <div *ngIf='loader' class="loader"></div>

                       <!--div class="col-12 my-3">                        
                        <button mat-button  class="btn btn-primary" (click)="addChannel()" style='margin: 2px ; margin-top: 10px; float: right'>Map Channel</button>
                      </div-->
                  </div>
           
            </div>
            